@{
    ViewData["Title"] = "About";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="container about-us-area">
    <div class="row">
        <h2 class="story-title">A little bit about us!</h2>
        <p>We are a group of enthusiast software engineer. Aspiring good things!</p>
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>
