@{
    ViewData["Title"] = "Home Page";
}
<div class="container home-items">
    <div class="home row">
        <div class="col-md-6 left-text align-middle">
            <h2>
                This website is completely static
            </h2>
            <p>
                Lorum ipsum dolet, Lorum ipsum dolet, Lorum ipsum dolet, Lorum ipsum dolet,Lorum ipsum dolet, Lorum ipsum dolet,Lorum ipsum dolet, Lorum ipsum dolet, Lorum ipsum dolet, Lorum ipsum dolet,
            </p>

        </div>
        <div class="col-md-6 right-img">
            <img src ="img/dummy1.jpg" alt="Emni"/>
        </div>
    </div>
 </div>

