html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.right-img img{
    height: 500px;
    width: 650px;
}
.container.home-items{
    display: flex;
}
.container .home{
    align-items: center;
}
.container-fluid.main-menu {
    background-color: black;
}

.container-fluid.main-menu a {
    color: white;
}

ul.navbar-nav.flex-grow-1 a {
    color: white !important;
}

li.nav-item {
    padding: 10px;
    padding-left: 20px;
}
.upper-story {
    background-color: #216B85;
    margin-right:-15%;
    margin-left:-15%;
    padding:30px;
    color: white;
    text-align:center;
}
.upper-story h2 {
    color: #78C2DD;
    font-size: 35px;
    font-weight:600;
}
.upper-story p{
    font-size: 18px;
    font-weight:400;
}
.middle-para {
    background-color: #F0F7F7;
    color: black;
    font-size: 18px;
    text-align: center;
    margin-left:-15%;
    margin-right:-15%;
    padding: 50px;
}

.bottom-left-img {
    background-color: #E0EDED;
    border-radius: 10px;
}

.bottom-right-text {
    background-color: #E0EDED;
    border-radius: 10px;
    padding: 40px;
}
.bottom-stroy{
    margin-left: -15%;
    margin-right: -15%;
}